server:
  port: 8080
spring:
  application:
    name: teoanLog
  elasticsearch:
    uris: localhost:9200
  data:
    mongodb:
      host: localhost
      port: 27017
      username: teoan
      password: passw0rd
      database: teoan
teoan:
  log:
    batch: 20